---
import StoryCard from '../../components/HNStory/HNStory';
import Layout from '../../layouts/Layout.astro';
import Nav from '../../layouts/Nav.astro';

const { pid } = Astro.params;

const pidInt = parseInt(pid ?? '', 10);

const commentString = Astro.url.searchParams.get('comment');
const comment = commentString ? parseInt(commentString, 10) : undefined;
---

<Layout title="...">
  <main>
    <Nav />
    <div class="p-4 max-w-4xl ml-auto mr-auto">
      <StoryCard
        id={pidInt}
        isHeader
        rootCommentId={comment}
        client:visible
      />
    </div>
  </main>
</Layout>
