---
import StoryCard from '../../components/HNStory/HNStory';
import Layout from '../../layouts/Layout.astro';
import Nav from '../../layouts/Nav.astro';
import { getStory } from '../../services/data';

const { pid } = Astro.params;

const commentString = Astro.url.searchParams.get('comment') ?? undefined;

const story = await getStory(pid ?? '');
---

{
  (
    <Layout title={story.data?.title ? story.data.title : 'Hacker News'}>
      <main>
        <Nav />
        <div class="p-4 max-w-4xl ml-auto mr-auto">
          <StoryCard
            id={pid ?? ""}
            isHeader
            rootCommentId={commentString}
            client:only="solid-js"
            ssrStory={story}
          />
        </div>
      </main>
    </Layout>
  )
}
