---
import NavItems from '../components/Navigation/NavItems';
---

<nav class="h-12 sticky top-0 z-10">
  <div class="p-2 w-full h-full dark:bg-poimandres-dark !bg-opacity-90">
    <div
      class="max-w-4xl h-full pl-4 pr-4 flex items-center whitespace-nowrap ml-auto mr-auto"
    >
      <a href="/" class="dark:text-gray-50 text-lg pr-6">HACKER NEWS</a>
      <div class="flex-grow"></div>
      <NavItems selected={Astro.params.page?.toLowerCase()} client:only />
    </div>
  </div>
</nav>
