.comment-block p {
  padding: 6px 0;
}

.comment-block a {
  color: theme("colors.slate.400") !important;
}

.comment-enter-active,
.comment-exit-active {
  transition: opacity 0.3s, transform 0.3s;
}

.comment-enter,
.comment-exit-to {
  transform: translateX(10px);
  opacity: 0;
}

.comment-enter {
  transform: translateX(-25px);
}

.fade-enter-active,
.fade-exit-active {
  transition: opacity 0.3s, transform 0.3s;
}

.fade-enter,
.fade-exit-to {
  transform: scale(0.9);
  opacity: 0;
}

.fade-enter {
  transform: scale(0.9);
}

.comment-block pre {
  padding-bottom: 12px;
  white-space: pre-wrap;
}

.comment-block p:first-of-type {
  padding-top: 12px;
}
